// light theme
$light-bg: #fafdff;
$light-pink: #ffb3ba;
$light-orange: #ffdfba;
$light-yellow: #ffffba;
$light-green: #baffc9;
$light-blue: #bae1ff;
$light-card: #ffffff;

// dark theme
$dark-bg: #0d2538; /* #2c3e50; ? */
$dark-pink: #ff5767; /*  #FFB3E0? */
$dark-orange: #ffbc6e;
$dark-yellow: #ffff6e;
$dark-green: #6eff8d;
$dark-blue: #6ec0ff;
$dark-card: #0f2d44;
$dark-card-text: #ffffff;

body {
    margin: 0;
    margin: 0;
    padding: 0px;
    width: 100%;
}

